body{
    background-color: black;
}
h1{
    text-transform: uppercase;
    font-family: 'Libre Baskerville', serif;
    color: white;
    text-align: center;
}
p{
    color: white;
    text-align: center;
    font-size: 20px;
}
img{
    border: 5px solid white;
    height: 350px;
    width: 100%;
}
div{
    width: 50%;
    margin-left: 25%;
    padding-top: 80px;
}